.bg {
  width: 100%;
  /* height: 100vh; */
  /* background-image: url("../public/images/gravel.png"); */
  background: #eaedf1;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 9em 1em 2em;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

/* ヘッダー */
.header {
  position: fixed;
  background: #0d4237;
  z-index: 1;
  width: 100%;
}

.headerLogoContainer {
  text-align: center;
}

.headerLogo {
  width: 400px;
  height: 70px;
  padding-top: 20px;
  margin: 0 auto;
}

.headerLogo:hover {
  cursor: pointer;
}

.headerNavContainer {
  width: 800px;
  height: 70px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.nav {
  color: #fff;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 50%;
  height: 8rem;
  margin: 0 50px 0;
}

.backToHome {
  margin: 3rem 0 0;
}

.top {
  display: flex;
  color: #000;
}

/* メイン */
/* Linkで飛ぶのとSSGで飛ぶのの違いはなんや、どうやって分けるんや */
.mainContainer {
  width: 75%;
  padding: 20px 20px;
  margin-left: 30%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  background: #ececec;
}

.subContainer {
  width: 25%;
  height: 600px;
  padding: 20px 20px;
  position: fixed;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  background: #ececec;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  background: #ececec;
  color: #000;
}

.item {
  width: 210px;
  height: 210px;
  margin: 10px 10px;
  padding: 5px 30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  user-select: none;
  cursor: pointer;
}

.img {
  width: 80px;
  /* margin: 0 auto; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.1s;
}

.desc {
  padding-right: 10px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.1s;
  font-weight: bold;
}

.item:hover {
  background-color: rgb(252, 225, 248);
}

.item2 {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  padding: 15px 50px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  user-select: none;
  cursor: pointer;
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  padding: 30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  background: #ececec;
}

.portfolioDesc {
  width: 70%;
}

/* お問い合わせ */
.nameInput,
.telInput,
.mailInput {
  /* 背景色(任意の色を指定) */
  background-color: #eee;

  /* 枠線 */
  border: 1px solid #000;
  transition: border 0.2s ease-out;

  /* 文字色を親から継承 */
  color: inherit;

  /* 任意の高さ */
  height: 45px;

  /*inputのフォーカス時の枠線を消す*/
  outline: 0;

  font-size: 20px;

  border-radius: 3px;

  margin-bottom: 10px;
}

.contactInput {
  /* 背景色(任意の色を指定) */
  background-color: #eee;

  /* 枠線 */
  border: 1px solid #000;
  transition: border 0.2s ease-out;

  /* 文字色を親から継承 */
  color: inherit;

  /* 任意の高さ */
  height: 90px;

  /*inputのフォーカス時の枠線を消す*/
  outline: 0;

  /* textareaの右下の線を消す */
  resize: none;

  font-size: 20px;

  border-radius: 4px;

  margin-bottom: 20px;
}

.nameInput:focus,
.telInput:focus,
.mailInput:focus,
.contactInput:focus {
  border: 1px solid#e74c3c;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
